In [6]:
import pandas as pd
cabaprop = pd.read_json("datos_geolocalizados_cabaprop.json", orient="records")
remax = pd.read_json("datos_geolocalizados_remax.json", orient="records")
mudafy = pd.read_json("datos_geolocalizados_mudafy.json", orient="records")
mudafy['Publicada_en']="Mudafy"
df= pd.concat([cabaprop, remax,mudafy], ignore_index=True)
df = df[['Direccion', 'Precio', 'Ambientes', 'Baños', 'Total', 'Cubierta', 'Antigüedad', 'Publicada_en', 'Categoria_antigüedad', 'lat', 'lon']]

In [9]:
remax

,Titulo,Operacion,Direccion,Precio,Ambientes,Baños,Total,Cubierta,Descubierta,Balcón,Antigüedad,Disposición,Inmobiliaria,Barrio,lat,lon,Categoria_antigüedad,Publicada_en
0,Emprendimiento en construcción entre 1 y 3 amb...,Mirá este emprendimiento en RE/MAX: UrbanHaus ...,Cordoba 4027 (1188),72.501,3,2,0.00,0.00,0,0,0,0,https://www.remax.com.ar/emprendimientos/urban...,Palermo,-34.594282,-58.429894,0,Remax
1,Emprendimiento en terminado entre 1 y 2 ambien...,Mirá este emprendimiento en RE/MAX: Departamen...,Santa Fe 5268 (C1425),65.875,2,1,0.00,0.00,0,0,0,0,https://www.remax.com.ar/emprendimientos/venta...,Palermo,-34.575847,-58.433892,0,Remax
2,Emprendimiento en pre venta entre 1 y 2 ambien...,Mirá este emprendimiento en RE/MAX: ¡Descubre ...,Córdoba 4309 (C1414),82.000,2,1,36.00,31.00,5.00 m²,0,0,0,https://www.remax.com.ar/emprendimientos/venta...,Palermo,NaN,NaN,0,Remax
3,Emprendimiento en pre venta entre 1 y 4 ambien...,Mirá este emprendimiento en RE/MAX: Cacique De...,Soldado de la Independencia 704 (C1426),83.000,4,3,0.00,0.00,0,0,0,0,https://www.remax.com.ar/emprendimientos/venta...,Palermo,-34.567935,-58.433937,0,Remax
4,Emprendimiento en construcción entre 2 y 4 amb...,Mirá este emprendimiento en RE/MAX: VENTA PALE...,Cabildo 20 (1425),62.900,4,2,0.00,0.00,0,0,0,0,https://www.remax.com.ar/emprendimientos/venta...,Palermo,-34.574895,-58.435972,0,Remax
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1309,Departamento en venta 4 ambientes en Avenida G...,Mirá esta propiedad en RE/MAX: VENTA DE DEPART...,Gener Las Heras 3800,379.000,4,3,150.00,150.00,0.00 m²,0,56,0,https://www.remax.com.ar/listings/vta-dpto-pal...,Palermo,NaN,NaN,5,Remax
1310,Departamento en venta 1 ambiente en Carranza 1...,Mirá esta propiedad en RE/MAX: COMIENZO DE OBR...,Carranza 1400,117.000,1,1,34.06,29.29,4.77 m²,0,1,0,https://www.remax.com.ar/listings/vta-monoambi...,Palermo,-34.575518,-58.434715,1,Remax
1311,Departamento en venta 2 ambientes en Güemes 45...,Mirá esta propiedad en RE/MAX: Amplios departa...,Güemes 4500,180.000,2,1,54.79,52.26,2.53 m²,0,1,0,https://www.remax.com.ar/listings/vta-palermo-...,Palermo,-34.582288,-58.422843,1,Remax
1312,Departamento en venta 1 ambiente en Niceto Veg...,Mirá esta propiedad en RE/MAX: Lanzamiento de ...,Niceto Vega 5100,98.000,1,1,32.00,28.00,4.00 m²,0,2,0,https://www.remax.com.ar/listings/vta-palermo-...,Palermo,-34.590361,-58.434277,1,Remax
1313,Departamento en venta 1 ambiente en Güemes 450...,Mirá esta propiedad en RE/MAX: Amplios departa...,Güemes 4500,115.000,1,1,36.08,29.00,7.08 m²,0,1,0,https://www.remax.com.ar/listings/vta-palermo-...,Palermo,-34.582288,-58.422843,1,Remax

In [8]:
mudafy

,Titulo,Operacion,Direccion,Precio,Ambientes,Baños,Total,Cubierta,Descubierta,Balcón,Antigüedad,Disposición,Inmobiliaria,Barrio,lat,lon,Categoria_antigüedad,Publicada_en
0,Departamento en Venta en 11 De Septiembre De 1...,¡Departamento en Palermo en Venta! Conocé esta...,11 De Septiembre De 1888 800,140.0,2,1,35,33,2.00 m²,0,4,0,https://mudafy.com.ar/departamento/11-de-septi...,Palermo,-34.570252,-58.440162,1,Mudafy
1,"Departamento en Venta en 3 DE FEBRERO al 2100,...",¡Departamento en Belgrano en Venta! Conocé est...,3 DE FEBRERO 2100,198.0,3,2,103,100,3.00 m²,0,0,0,https://mudafy.com.ar/departamento/3-de-febrer...,Palermo,-34.569593,-58.442377,0,Mudafy
2,"Departamento en Venta en 3 DE FEBRERO al 2100,...",¡Departamento en Belgrano en Venta! Conocé est...,3 DE FEBRERO 2100,198.0,4,2,103,100,3.00 m²,0,0,0,https://mudafy.com.ar/departamento/3-de-febrer...,Palermo,-34.569593,-58.442377,0,Mudafy
3,"Departamento en Venta en Acevedo 500, Villa Cr...",¡Departamento en Villa Crespo en Venta! Conocé...,Acevedo 500,73.0,2,1,40,39,1.00 m²,0,5,0,https://mudafy.com.ar/departamento/acevedo-500...,Palermo,-34.587369,-58.424178,1,Mudafy
4,"Departamento en Venta en Acevedo 500, Villa Cr...",¡Departamento en Villa Crespo en Venta! Conocé...,Acevedo 500,73.0,2,1,40,0,0,0,4,0,https://mudafy.com.ar/departamento/acevedo-500...,Palermo,-34.587369,-58.424178,1,Mudafy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1136,"Departamento en Venta en Zapata 200, Belgrano",¡Departamento en Belgrano en Venta! Conocé est...,Zapata 200,275.2,3,1,76,65,11.00 m²,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...,Palermo,-34.574699,-58.439537,0,Mudafy
1137,"Departamento en Venta en Zapata 200, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapata 200,271.0,3,1,89,65,24.00 m²,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...,Palermo,-34.574699,-58.439537,0,Mudafy
1138,"Departamento en Venta en Zapata 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,Zapata 300,89.9,1,1,21,21,0.00 m²,0,1,0,https://mudafy.com.ar/departamento/zapata-300-...,Palermo,-34.573875,-58.440637,1,Mudafy
1139,"Departamento en Venta en ZAPATA al 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,ZAPATA 300,120.0,2,1,55,47,8.00 m²,0,0,0,https://mudafy.com.ar/departamento/zapata-al-3...,Palermo,-34.573875,-58.440637,0,Mudafy
1140,"Departamento en Venta en Zapiola 1000, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapiola 1000,85.0,2,1,40,40,0.00 m²,0,5,0,https://mudafy.com.ar/departamento/zapiola-100...,Palermo,-34.578843,-58.443040,1,Mudafy

In [10]:
df

,Direccion,Precio,Ambientes,Baños,Total,Cubierta,Antigüedad,Publicada_en,Categoria_antigüedad,lat,lon
0,Lafinur 3000,120000.0,1.0,1.0,33.0,33.0,15.0,Cabaprop,3.0,-34.580612,-58.414648
1,CHARCAS 3400,430000.0,3.0,3.0,132.0,124.0,NaN,Cabaprop,NaN,-34.582695,-58.424426
2,HUMBOLDT 1800,160000.0,2.0,1.0,78.0,70.0,NaN,Cabaprop,NaN,-34.584121,-58.434691
3,ARAOZ 1200,140400.0,2.0,1.0,41.0,37.0,NaN,Cabaprop,NaN,-34.594129,-58.428252
4,Cabrera 5100,112000.0,1.0,1.0,28.0,24.0,1.0,Cabaprop,1.0,-34.589519,-58.433035
...,...,...,...,...,...,...,...,...,...,...,...
3878,Zapata 200,275.2,3.0,1.0,76.0,65.0,0.0,Mudafy,0.0,-34.574699,-58.439537
3879,Zapata 200,271.0,3.0,1.0,89.0,65.0,0.0,Mudafy,0.0,-34.574699,-58.439537
3880,Zapata 300,89.9,1.0,1.0,21.0,21.0,1.0,Mudafy,1.0,-34.573875,-58.440637
3881,ZAPATA 300,120.0,2.0,1.0,55.0,47.0,0.0,Mudafy,0.0,-34.573875,-58.440637
3882,Zapiola 1000,85.0,2.0,1.0,40.0,40.0,5.0,Mudafy,1.0,-34.578843,-58.443040

In [6]:

remax = pd.read_json("datos_geolocalizados_remax.json", orient="records")

In [4]:
mudafy = mudafy[['Direccion', 'Precio', 'Ambientes', 'Baños', 'Total', 'Cubierta', 'Antigüedad', 'Publicada_en', 'Categoria_antigüedad', 'lat', 'lon']]

KeyError: "['Publicada_en'] not in index"

In [8]:
remax

,Direccion,Precio,Ambientes,Baños,Total,Cubierta,Antigüedad,Publicada_en,Categoria_antigüedad,lat,lon
0,Cordoba 4027 (1188),72.501,3,2,0.00,0.00,0,Remax,0,-34.594282,-58.429894
1,Santa Fe 5268 (C1425),65.875,2,1,0.00,0.00,0,Remax,0,-34.575847,-58.433892
2,Córdoba 4309 (C1414),82.000,2,1,36.00,31.00,0,Remax,0,NaN,NaN
3,Soldado de la Independencia 704 (C1426),83.000,4,3,0.00,0.00,0,Remax,0,-34.567935,-58.433937
4,Cabildo 20 (1425),62.900,4,2,0.00,0.00,0,Remax,0,-34.574895,-58.435972
...,...,...,...,...,...,...,...,...,...,...,...
1309,Gener Las Heras 3800,379.000,4,3,150.00,150.00,56,Remax,5,NaN,NaN
1310,Carranza 1400,117.000,1,1,34.06,29.29,1,Remax,1,-34.575518,-58.434715
1311,Güemes 4500,180.000,2,1,54.79,52.26,1,Remax,1,-34.582288,-58.422843
1312,Niceto Vega 5100,98.000,1,1,32.00,28.00,2,Remax,1,-34.590361,-58.434277
1313,Güemes 4500,115.000,1,1,36.08,29.00,1,Remax,1,-34.582288,-58.422843

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Direccion             3882 non-null   object
 1   Precio                3863 non-null   float64
 2   Ambientes             3698 non-null   float64
 3   Baños                 3704 non-null   float64
 4   Total                 3882 non-null   float64
 5   Cubierta              3790 non-null   float64
 6   Antigüedad            3615 non-null   float64
 7   Publicada_en          3883 non-null   object
 8   Categoria_antigüedad  3615 non-null   float64
 9   lat                   3485 non-null   float64
 10  lon                   3485 non-null   float64
dtypes: float64(9), object(2)
memory usage: 333.8+ KB

In [7]:
df_nuevo = pd.concat([cabaprop, remax], ignore_index=True)

In [8]:
df_nuevo = df_nuevo[['Direccion', 'Precio', 'Ambientes', 'Baños', 'Total', 'Cubierta', 'Antigüedad', 'Publicada_en', 'Categoria_antigüedad', 'lat', 'lon']]

In [9]:
df_nuevo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2742 entries, 0 to 2741
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Direccion             2741 non-null   object
 1   Precio                2722 non-null   float64
 2   Ambientes             2557 non-null   float64
 3   Baños                 2563 non-null   float64
 4   Total                 2741 non-null   float64
 5   Cubierta              2649 non-null   float64
 6   Antigüedad            2474 non-null   float64
 7   Publicada_en          2742 non-null   object
 8   Categoria_antigüedad  2474 non-null   float64
 9   lat                   2344 non-null   float64
 10  lon                   2344 non-null   float64
dtypes: float64(9), object(2)
memory usage: 235.8+ KB