In [97]:
import pandas as pd
import json

# Leer el JSON
with open("full-data-limpia-mudafy.json", "r", encoding="utf-8") as f:
    data = json.load(f)

# Convertir a DataFrame
df = pd.DataFrame(data)

In [68]:
#df = df.drop(columns=["error", "raw"], errors="ignore")

In [ ]:
#df = df.loc[:, df.notna().sum() > 10]

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1619 entries, 0 to 1618
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   titulo       1619 non-null   object
 1   operacion    1619 non-null   object
 2   direccion    1619 non-null   object
 3   Precio       1619 non-null   object
 4   Ambientes    1619 non-null   object
 5   Baños        1619 non-null   object
 6   Total        1619 non-null   object
 7   Cubierta     1619 non-null   object
 8   Descubierta  1619 non-null   object
 9   Balcón       1619 non-null   object
 10  Antigüedad   1619 non-null   object
 11  Disposición  1619 non-null   object
 12  https        1619 non-null   object
dtypes: object(13)
memory usage: 164.6+ KB

In [84]:
df

,titulo,operacion,direccion,Precio,Ambientes,Baños,Total,Cubierta,Descubierta,Balcón,Antigüedad,Disposición,https
0,Departamento en Venta en 11 de Septiembre 1700...,¡Departamento en Belgrano en Venta! Conocé est...,11 de Septiembre 1700,1.700.000USD,5,3,588.00 m²,355.00 m²,233.00 m²,0,40 años,0,https://mudafy.com.ar/departamento/11-de-septi...
1,"Departamento en Venta en 11 de septiembre 782,...",¡Departamento en Belgrano en Venta! Conocé est...,11 de septiembre 782,1.080.000USD,6,5,510.00 m²,432.00 m²,78.00 m²,0,0,0,https://mudafy.com.ar/departamento/11-de-septi...
2,Departamento en Venta en 11 De Septiembre De 1...,¡Departamento en Palermo en Venta! Conocé esta...,11 De Septiembre De 1888 800,140.000USD,2,1,35.00 m²,33.00 m²,2.00 m²,0,24 años,0,https://mudafy.com.ar/departamento/11-de-septi...
3,Departamento en Venta en 2 amb. a estrenar en ...,¡Departamento en Belgrano R en Venta! Conocé e...,2 amb. a estrenar en Belgrano R - Seg 0,188.000USD,2,1,52.00 m²,49.00 m²,3.00 m²,0,0,0,https://mudafy.com.ar/departamento/2-amb-a-est...
4,Departamento en Venta en 2 amb de Toilette en ...,¡Departamento en Palermo en Venta! Conocé esta...,2 amb de Toilette en La Imprenta,225.000USD,2,1,48.00 m²,48.00 m²,0.00 m²,0,0,0,https://mudafy.com.ar/departamento/2-amb-de-to...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,"Departamento en Venta en Zapata 200, Belgrano",¡Departamento en Belgrano en Venta! Conocé est...,Zapata 200,275.200USD,3,1,76.00 m²,65.00 m²,11.00 m²,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...
1615,"Departamento en Venta en Zapata 200, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapata 200,271.000USD,3,1,89.00 m²,65.00 m²,24.00 m²,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...
1616,"Departamento en Venta en Zapata 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,Zapata 300,89.900USD,1,1,21.00 m²,21.00 m²,0.00 m²,0,1 años,0,https://mudafy.com.ar/departamento/zapata-300-...
1617,"Departamento en Venta en ZAPATA al 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,ZAPATA al 300,120.000USD,2,1,55.00 m²,47.00 m²,8.00 m²,0,0,0,https://mudafy.com.ar/departamento/zapata-al-3...
1618,"Departamento en Venta en Zapiola 1000, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapiola 1000,85.000USD,2,1,40.00 m²,40.00 m²,0.00 m²,0,50 años,0,https://mudafy.com.ar/departamento/zapiola-100...

In [85]:
df["direccion"] = df["direccion"].str.split(",").str[0].str.strip()

In [86]:
df

,titulo,operacion,direccion,Precio,Ambientes,Baños,Total,Cubierta,Descubierta,Balcón,Antigüedad,Disposición,https
0,Departamento en Venta en 11 de Septiembre 1700...,¡Departamento en Belgrano en Venta! Conocé est...,11 de Septiembre 1700,1.700.000USD,5,3,588.00 m²,355.00 m²,233.00 m²,0,40 años,0,https://mudafy.com.ar/departamento/11-de-septi...
1,"Departamento en Venta en 11 de septiembre 782,...",¡Departamento en Belgrano en Venta! Conocé est...,11 de septiembre 782,1.080.000USD,6,5,510.00 m²,432.00 m²,78.00 m²,0,0,0,https://mudafy.com.ar/departamento/11-de-septi...
2,Departamento en Venta en 11 De Septiembre De 1...,¡Departamento en Palermo en Venta! Conocé esta...,11 De Septiembre De 1888 800,140.000USD,2,1,35.00 m²,33.00 m²,2.00 m²,0,24 años,0,https://mudafy.com.ar/departamento/11-de-septi...
3,Departamento en Venta en 2 amb. a estrenar en ...,¡Departamento en Belgrano R en Venta! Conocé e...,2 amb. a estrenar en Belgrano R - Seg 0,188.000USD,2,1,52.00 m²,49.00 m²,3.00 m²,0,0,0,https://mudafy.com.ar/departamento/2-amb-a-est...
4,Departamento en Venta en 2 amb de Toilette en ...,¡Departamento en Palermo en Venta! Conocé esta...,2 amb de Toilette en La Imprenta,225.000USD,2,1,48.00 m²,48.00 m²,0.00 m²,0,0,0,https://mudafy.com.ar/departamento/2-amb-de-to...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,"Departamento en Venta en Zapata 200, Belgrano",¡Departamento en Belgrano en Venta! Conocé est...,Zapata 200,275.200USD,3,1,76.00 m²,65.00 m²,11.00 m²,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...
1615,"Departamento en Venta en Zapata 200, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapata 200,271.000USD,3,1,89.00 m²,65.00 m²,24.00 m²,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...
1616,"Departamento en Venta en Zapata 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,Zapata 300,89.900USD,1,1,21.00 m²,21.00 m²,0.00 m²,0,1 años,0,https://mudafy.com.ar/departamento/zapata-300-...
1617,"Departamento en Venta en ZAPATA al 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,ZAPATA al 300,120.000USD,2,1,55.00 m²,47.00 m²,8.00 m²,0,0,0,https://mudafy.com.ar/departamento/zapata-al-3...
1618,"Departamento en Venta en Zapiola 1000, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapiola 1000,85.000USD,2,1,40.00 m²,40.00 m²,0.00 m²,0,50 años,0,https://mudafy.com.ar/departamento/zapiola-100...

In [132]:
df.rename(columns={
    "titulo": "Titulo",
    "operacion": "Operacion",
    "direccion": "Direccion",
    "https": "Inmobiliaria"
}, inplace=True)

df

,Titulo,Operacion,Direccion,Precio,Ambientes,Baños,Total,Cubierta,Descubierta,Balcón,Antigüedad,Disposición,Inmobiliaria,Categoria_antigüedad,Barrio
0,Departamento en Venta en 11 de Septiembre 1700...,¡Departamento en Belgrano en Venta! Conocé est...,11 de Septiembre 1700,1700000,5,3,588.0,355.0,233.0,0,4,0,https://mudafy.com.ar/departamento/11-de-septi...,1,Palermo
1,"Departamento en Venta en 11 de septiembre 782,...",¡Departamento en Belgrano en Venta! Conocé est...,11 de septiembre 782,1080000,6,5,510.0,432.0,78.0,0,0,0,https://mudafy.com.ar/departamento/11-de-septi...,0,Palermo
2,Departamento en Venta en 11 De Septiembre De 1...,¡Departamento en Palermo en Venta! Conocé esta...,11 De Septiembre De 1888 800,140000,2,1,35.0,33.0,2.0,0,4,0,https://mudafy.com.ar/departamento/11-de-septi...,1,Palermo
3,Departamento en Venta en 2 amb. a estrenar en ...,¡Departamento en Belgrano R en Venta! Conocé e...,2 amb. a estrenar en Belgrano R - Seg 0,188000,2,1,52.0,49.0,3.0,0,0,0,https://mudafy.com.ar/departamento/2-amb-a-est...,0,Palermo
4,Departamento en Venta en 2 amb de Toilette en ...,¡Departamento en Palermo en Venta! Conocé esta...,2 amb de Toilette en La Imprenta,225000,2,1,48.0,48.0,0.0,0,0,0,https://mudafy.com.ar/departamento/2-amb-de-to...,0,Palermo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,"Departamento en Venta en Zapata 200, Belgrano",¡Departamento en Belgrano en Venta! Conocé est...,Zapata 200,275200,3,1,76.0,65.0,11.0,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...,0,Palermo
1615,"Departamento en Venta en Zapata 200, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapata 200,271000,3,1,89.0,65.0,24.0,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...,0,Palermo
1616,"Departamento en Venta en Zapata 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,Zapata 300,89900,1,1,21.0,21.0,0.0,0,1,0,https://mudafy.com.ar/departamento/zapata-300-...,1,Palermo
1617,"Departamento en Venta en ZAPATA al 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,ZAPATA al 300,120000,2,1,55.0,47.0,8.0,0,0,0,https://mudafy.com.ar/departamento/zapata-al-3...,0,Palermo
1618,"Departamento en Venta en Zapiola 1000, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapiola 1000,85000,2,1,40.0,40.0,0.0,0,5,0,https://mudafy.com.ar/departamento/zapiola-100...,1,Palermo

In [ ]:
#df.drop(columns=["http"], inplace=True)

In [131]:
df['Barrio'] = "Palermo"

df

,titulo,operacion,direccion,Precio,Ambientes,Baños,Total,Cubierta,Descubierta,Balcón,Antigüedad,Disposición,https,Categoria_antigüedad,Barrio
0,Departamento en Venta en 11 de Septiembre 1700...,¡Departamento en Belgrano en Venta! Conocé est...,11 de Septiembre 1700,1700000,5,3,588.0,355.0,233.0,0,4,0,https://mudafy.com.ar/departamento/11-de-septi...,1,Palermo
1,"Departamento en Venta en 11 de septiembre 782,...",¡Departamento en Belgrano en Venta! Conocé est...,11 de septiembre 782,1080000,6,5,510.0,432.0,78.0,0,0,0,https://mudafy.com.ar/departamento/11-de-septi...,0,Palermo
2,Departamento en Venta en 11 De Septiembre De 1...,¡Departamento en Palermo en Venta! Conocé esta...,11 De Septiembre De 1888 800,140000,2,1,35.0,33.0,2.0,0,4,0,https://mudafy.com.ar/departamento/11-de-septi...,1,Palermo
3,Departamento en Venta en 2 amb. a estrenar en ...,¡Departamento en Belgrano R en Venta! Conocé e...,2 amb. a estrenar en Belgrano R - Seg 0,188000,2,1,52.0,49.0,3.0,0,0,0,https://mudafy.com.ar/departamento/2-amb-a-est...,0,Palermo
4,Departamento en Venta en 2 amb de Toilette en ...,¡Departamento en Palermo en Venta! Conocé esta...,2 amb de Toilette en La Imprenta,225000,2,1,48.0,48.0,0.0,0,0,0,https://mudafy.com.ar/departamento/2-amb-de-to...,0,Palermo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,"Departamento en Venta en Zapata 200, Belgrano",¡Departamento en Belgrano en Venta! Conocé est...,Zapata 200,275200,3,1,76.0,65.0,11.0,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...,0,Palermo
1615,"Departamento en Venta en Zapata 200, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapata 200,271000,3,1,89.0,65.0,24.0,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...,0,Palermo
1616,"Departamento en Venta en Zapata 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,Zapata 300,89900,1,1,21.0,21.0,0.0,0,1,0,https://mudafy.com.ar/departamento/zapata-300-...,1,Palermo
1617,"Departamento en Venta en ZAPATA al 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,ZAPATA al 300,120000,2,1,55.0,47.0,8.0,0,0,0,https://mudafy.com.ar/departamento/zapata-al-3...,0,Palermo
1618,"Departamento en Venta en Zapiola 1000, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapiola 1000,85000,2,1,40.0,40.0,0.0,0,5,0,https://mudafy.com.ar/departamento/zapiola-100...,1,Palermo

In [8]:
"""
# Separar ubicacion por coma
df[['barrio', 'ciudad']] = df['ubicacion'].str.split(',', expand=True)[[1, 2]]

# Limpiar espacios
df['barrio'] = df['barrio'].str.strip()
df['ciudad'] = df['ciudad'].str.strip()
df = df.drop(columns=["ubicacion"])
"""

'\n# Separar ubicacion por coma\ndf[[\'barrio\', \'ciudad\']] = df[\'ubicacion\'].str.split(\',\', expand=True)[[1, 2]]\n\n# Limpiar espacios\ndf[\'barrio\'] = df[\'barrio\'].str.strip()\ndf[\'ciudad\'] = df[\'ciudad\'].str.strip()\ndf = df.drop(columns=["ubicacion"])\n'

In [9]:
"""
df['fecha_publicacion'] = df['fecha_publicacion'].str.extract(r'(\d{1,2}/\d{1,2}/\d{4})')
df['fecha_publicacion'] = pd.to_datetime(df['fecha_publicacion'], dayfirst=True)
"""

"\ndf['fecha_publicacion'] = df['fecha_publicacion'].str.extract(r'(\\d{1,2}/\\d{1,2}/\\d{4})')\ndf['fecha_publicacion'] = pd.to_datetime(df['fecha_publicacion'], dayfirst=True)\n"

In [90]:
import re

def limpiar_direccion(direccion):
    # Primero nos quedamos con la parte antes de " -", " Y ", ",", etc.
    direccion = str(direccion).split(' -')[0]  # saca lo que está después de guión
    direccion = direccion.split(' y')[0]       # saca lo que está después de ' Y'
    direccion = direccion.split('.')[0]        # saca lo que está después de coma  
    direccion = direccion.split(',')[0]        # saca lo que está después de coma
    
    # Correcciones específicas conocidas
    calle_reemplazos = {
        r'\bOro\b': 'Fray Justo Santa María de Oro',
        r'\bSta\.?\b': 'Santa',
        r'\bSta María\b': 'Santa María',
        r"\b(Al\s+){2,}": " ",
        r"\b(al\s+){2,}": " ",
        
        # Agregá más si sabés que se repiten errores
    }
    
    for patron, reemplazo in calle_reemplazos.items():
        direccion = re.sub(patron, reemplazo, direccion, flags=re.IGNORECASE)
    
    return direccion.strip()

In [91]:
df['Direccion'].apply(limpiar_direccion)

df

,Titulo,Operacion,Direccion,Precio,Ambientes,Baños,Total,Cubierta,Descubierta,Balcón,Antigüedad,Disposición,Inmobiliaria,Barrio
0,Departamento en Venta en 11 de Septiembre 1700...,¡Departamento en Belgrano en Venta! Conocé est...,11 de Septiembre 1700,1.700.000USD,5,3,588.00 m²,355.00 m²,233.00 m²,0,40 años,0,https://mudafy.com.ar/departamento/11-de-septi...,Palermo
1,"Departamento en Venta en 11 de septiembre 782,...",¡Departamento en Belgrano en Venta! Conocé est...,11 de septiembre 782,1.080.000USD,6,5,510.00 m²,432.00 m²,78.00 m²,0,0,0,https://mudafy.com.ar/departamento/11-de-septi...,Palermo
2,Departamento en Venta en 11 De Septiembre De 1...,¡Departamento en Palermo en Venta! Conocé esta...,11 De Septiembre De 1888 800,140.000USD,2,1,35.00 m²,33.00 m²,2.00 m²,0,24 años,0,https://mudafy.com.ar/departamento/11-de-septi...,Palermo
3,Departamento en Venta en 2 amb. a estrenar en ...,¡Departamento en Belgrano R en Venta! Conocé e...,2 amb. a estrenar en Belgrano R - Seg 0,188.000USD,2,1,52.00 m²,49.00 m²,3.00 m²,0,0,0,https://mudafy.com.ar/departamento/2-amb-a-est...,Palermo
4,Departamento en Venta en 2 amb de Toilette en ...,¡Departamento en Palermo en Venta! Conocé esta...,2 amb de Toilette en La Imprenta,225.000USD,2,1,48.00 m²,48.00 m²,0.00 m²,0,0,0,https://mudafy.com.ar/departamento/2-amb-de-to...,Palermo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,"Departamento en Venta en Zapata 200, Belgrano",¡Departamento en Belgrano en Venta! Conocé est...,Zapata 200,275.200USD,3,1,76.00 m²,65.00 m²,11.00 m²,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...,Palermo
1615,"Departamento en Venta en Zapata 200, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapata 200,271.000USD,3,1,89.00 m²,65.00 m²,24.00 m²,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...,Palermo
1616,"Departamento en Venta en Zapata 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,Zapata 300,89.900USD,1,1,21.00 m²,21.00 m²,0.00 m²,0,1 años,0,https://mudafy.com.ar/departamento/zapata-300-...,Palermo
1617,"Departamento en Venta en ZAPATA al 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,ZAPATA al 300,120.000USD,2,1,55.00 m²,47.00 m²,8.00 m²,0,0,0,https://mudafy.com.ar/departamento/zapata-al-3...,Palermo
1618,"Departamento en Venta en Zapiola 1000, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapiola 1000,85.000USD,2,1,40.00 m²,40.00 m²,0.00 m²,0,50 años,0,https://mudafy.com.ar/departamento/zapiola-100...,Palermo

In [92]:
#1
df["Direccion"] = df["Direccion"].str.replace(r"\s*al\s+", " ", regex=True)
df['Direccion'] = df['Direccion'].str.replace(r'Entre\s+[^0-9]*\s+[Yy]\s+[^0-9]*', " ",regex=True)
df['Direccion'] = df['Direccion'].str.replace(r'(?i)\b(av\.?|avenida)\b'," ",regex=True)
df['Direccion'] = df['Direccion'].str.replace('.', '')
df['Direccion'] = df['Direccion'].str.replace(',', '')
df['Direccion'] = df['Direccion'].str.replace(r'(?i)\s+y\s+[^-\d]+'," ",regex=True)
df['Direccion'] = df['Direccion'].str.replace(r'(?i)-\s*piso\s*\d+'," ",regex=True)
df['Direccion'] = df['Direccion'].str.replace(r'(?i)-\s*unidad\s*\w+'," ",regex=True)
df['Direccion'] = df['Direccion'].str.replace(r'(?i)-\s*cfrt'," ",regex=True)
df['Direccion'] = df['Direccion'].str.replace(r'(?i)-\s*uf\s*\d+', " ",regex=True)
df['Direccion'] = df['Direccion'].str.replace(r'(?i)-\s*\d+\s*amb', " ",regex=True)
df['Direccion'] = df['Direccion'].str.replace(r'(?i)-\s*\d+°?º?p', " ",regex=True)
df['Direccion'] = df['Direccion'].str.replace(r'(?i)-\s*frt', " ",regex=True) 
df['Direccion'] = df['Direccion'].str.replace(r'(?i)-\s*\d+°?\s*piso', " ",regex=True)
df['Direccion'] = df['Direccion'].str.replace(r',\s*C?\d{4}.*', '', regex=True)

df

,Titulo,Operacion,Direccion,Precio,Ambientes,Baños,Total,Cubierta,Descubierta,Balcón,Antigüedad,Disposición,Inmobiliaria,Barrio
0,Departamento en Venta en 11 de Septiembre 1700...,¡Departamento en Belgrano en Venta! Conocé est...,11 de Septiembre 1700,1.700.000USD,5,3,588.00 m²,355.00 m²,233.00 m²,0,40 años,0,https://mudafy.com.ar/departamento/11-de-septi...,Palermo
1,"Departamento en Venta en 11 de septiembre 782,...",¡Departamento en Belgrano en Venta! Conocé est...,11 de septiembre 782,1.080.000USD,6,5,510.00 m²,432.00 m²,78.00 m²,0,0,0,https://mudafy.com.ar/departamento/11-de-septi...,Palermo
2,Departamento en Venta en 11 De Septiembre De 1...,¡Departamento en Palermo en Venta! Conocé esta...,11 De Septiembre De 1888 800,140.000USD,2,1,35.00 m²,33.00 m²,2.00 m²,0,24 años,0,https://mudafy.com.ar/departamento/11-de-septi...,Palermo
3,Departamento en Venta en 2 amb. a estrenar en ...,¡Departamento en Belgrano R en Venta! Conocé e...,2 amb a estrenar en Belgrano R - Seg 0,188.000USD,2,1,52.00 m²,49.00 m²,3.00 m²,0,0,0,https://mudafy.com.ar/departamento/2-amb-a-est...,Palermo
4,Departamento en Venta en 2 amb de Toilette en ...,¡Departamento en Palermo en Venta! Conocé esta...,2 amb de Toilette en La Imprenta,225.000USD,2,1,48.00 m²,48.00 m²,0.00 m²,0,0,0,https://mudafy.com.ar/departamento/2-amb-de-to...,Palermo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,"Departamento en Venta en Zapata 200, Belgrano",¡Departamento en Belgrano en Venta! Conocé est...,Zapata 200,275.200USD,3,1,76.00 m²,65.00 m²,11.00 m²,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...,Palermo
1615,"Departamento en Venta en Zapata 200, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapata 200,271.000USD,3,1,89.00 m²,65.00 m²,24.00 m²,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...,Palermo
1616,"Departamento en Venta en Zapata 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,Zapata 300,89.900USD,1,1,21.00 m²,21.00 m²,0.00 m²,0,1 años,0,https://mudafy.com.ar/departamento/zapata-300-...,Palermo
1617,"Departamento en Venta en ZAPATA al 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,ZAPATA 300,120.000USD,2,1,55.00 m²,47.00 m²,8.00 m²,0,0,0,https://mudafy.com.ar/departamento/zapata-al-3...,Palermo
1618,"Departamento en Venta en Zapiola 1000, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapiola 1000,85.000USD,2,1,40.00 m²,40.00 m²,0.00 m²,0,50 años,0,https://mudafy.com.ar/departamento/zapiola-100...,Palermo

In [114]:
copia = df.copy()

In [115]:
copia

,titulo,operacion,direccion,Precio,Ambientes,Baños,Total,Cubierta,Descubierta,Balcón,Antigüedad,Disposición,https
0,Departamento en Venta en 11 de Septiembre 1700...,¡Departamento en Belgrano en Venta! Conocé est...,11 de Septiembre 1700,1.700.000USD,5,3,588.00 m²,355.00 m²,233.00 m²,0,40 años,0,https://mudafy.com.ar/departamento/11-de-septi...
1,"Departamento en Venta en 11 de septiembre 782,...",¡Departamento en Belgrano en Venta! Conocé est...,11 de septiembre 782,1.080.000USD,6,5,510.00 m²,432.00 m²,78.00 m²,0,0,0,https://mudafy.com.ar/departamento/11-de-septi...
2,Departamento en Venta en 11 De Septiembre De 1...,¡Departamento en Palermo en Venta! Conocé esta...,11 De Septiembre De 1888 800,140.000USD,2,1,35.00 m²,33.00 m²,2.00 m²,0,24 años,0,https://mudafy.com.ar/departamento/11-de-septi...
3,Departamento en Venta en 2 amb. a estrenar en ...,¡Departamento en Belgrano R en Venta! Conocé e...,2 amb. a estrenar en Belgrano R - Seg 0,188.000USD,2,1,52.00 m²,49.00 m²,3.00 m²,0,0,0,https://mudafy.com.ar/departamento/2-amb-a-est...
4,Departamento en Venta en 2 amb de Toilette en ...,¡Departamento en Palermo en Venta! Conocé esta...,2 amb de Toilette en La Imprenta,225.000USD,2,1,48.00 m²,48.00 m²,0.00 m²,0,0,0,https://mudafy.com.ar/departamento/2-amb-de-to...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,"Departamento en Venta en Zapata 200, Belgrano",¡Departamento en Belgrano en Venta! Conocé est...,Zapata 200,275.200USD,3,1,76.00 m²,65.00 m²,11.00 m²,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...
1615,"Departamento en Venta en Zapata 200, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapata 200,271.000USD,3,1,89.00 m²,65.00 m²,24.00 m²,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...
1616,"Departamento en Venta en Zapata 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,Zapata 300,89.900USD,1,1,21.00 m²,21.00 m²,0.00 m²,0,1 años,0,https://mudafy.com.ar/departamento/zapata-300-...
1617,"Departamento en Venta en ZAPATA al 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,ZAPATA al 300,120.000USD,2,1,55.00 m²,47.00 m²,8.00 m²,0,0,0,https://mudafy.com.ar/departamento/zapata-al-3...
1618,"Departamento en Venta en Zapiola 1000, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapiola 1000,85.000USD,2,1,40.00 m²,40.00 m²,0.00 m²,0,50 años,0,https://mudafy.com.ar/departamento/zapiola-100...

In [116]:
def limpiar_columnas_numericas(df, columnas):
    for columna in columnas:
        if columna in df.columns:
            df[columna] = (
                df[columna]
                .astype(str)
                .str.replace(r'[^\d.,]', '', regex=True)  # dejar números, comas, puntos
                .str.replace(',', '.', regex=False)       # estandarizar decimales
            )
            # Quitar punto si actúa como separador de miles (solo si hay más de un punto)
            df[columna] = df[columna].str.replace(r'(?<=\d)\.(?=\d{3}(?:\.|$))', '', regex=True)
            df[columna] = pd.to_numeric(df[columna], errors='coerce')
    return df

In [117]:
copia = limpiar_columnas_numericas(copia, ["Precio", "Total", "Cubierta","Descubierta","Ambientes", "Baños", "Antigüedad", "Dormitorios"])

copia

,titulo,operacion,direccion,Precio,Ambientes,Baños,Total,Cubierta,Descubierta,Balcón,Antigüedad,Disposición,https
0,Departamento en Venta en 11 de Septiembre 1700...,¡Departamento en Belgrano en Venta! Conocé est...,11 de Septiembre 1700,1700000,5,3,588.0,355.0,233.0,0,40,0,https://mudafy.com.ar/departamento/11-de-septi...
1,"Departamento en Venta en 11 de septiembre 782,...",¡Departamento en Belgrano en Venta! Conocé est...,11 de septiembre 782,1080000,6,5,510.0,432.0,78.0,0,0,0,https://mudafy.com.ar/departamento/11-de-septi...
2,Departamento en Venta en 11 De Septiembre De 1...,¡Departamento en Palermo en Venta! Conocé esta...,11 De Septiembre De 1888 800,140000,2,1,35.0,33.0,2.0,0,24,0,https://mudafy.com.ar/departamento/11-de-septi...
3,Departamento en Venta en 2 amb. a estrenar en ...,¡Departamento en Belgrano R en Venta! Conocé e...,2 amb. a estrenar en Belgrano R - Seg 0,188000,2,1,52.0,49.0,3.0,0,0,0,https://mudafy.com.ar/departamento/2-amb-a-est...
4,Departamento en Venta en 2 amb de Toilette en ...,¡Departamento en Palermo en Venta! Conocé esta...,2 amb de Toilette en La Imprenta,225000,2,1,48.0,48.0,0.0,0,0,0,https://mudafy.com.ar/departamento/2-amb-de-to...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,"Departamento en Venta en Zapata 200, Belgrano",¡Departamento en Belgrano en Venta! Conocé est...,Zapata 200,275200,3,1,76.0,65.0,11.0,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...
1615,"Departamento en Venta en Zapata 200, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapata 200,271000,3,1,89.0,65.0,24.0,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...
1616,"Departamento en Venta en Zapata 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,Zapata 300,89900,1,1,21.0,21.0,0.0,0,1,0,https://mudafy.com.ar/departamento/zapata-300-...
1617,"Departamento en Venta en ZAPATA al 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,ZAPATA al 300,120000,2,1,55.0,47.0,8.0,0,0,0,https://mudafy.com.ar/departamento/zapata-al-3...
1618,"Departamento en Venta en Zapiola 1000, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapiola 1000,85000,2,1,40.0,40.0,0.0,0,50,0,https://mudafy.com.ar/departamento/zapiola-100...

In [118]:
copia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1619 entries, 0 to 1618
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   titulo       1619 non-null   object
 1   operacion    1619 non-null   object
 2   direccion    1619 non-null   object
 3   Precio       1619 non-null   int64
 4   Ambientes    1619 non-null   int64
 5   Baños        1619 non-null   int64
 6   Total        1619 non-null   float64
 7   Cubierta     1619 non-null   float64
 8   Descubierta  1619 non-null   float64
 9   Balcón       1619 non-null   object
 10  Antigüedad   1619 non-null   int64
 11  Disposición  1619 non-null   object
 12  https        1619 non-null   object
dtypes: float64(3), int64(4), object(6)
memory usage: 164.6+ KB

In [119]:
df = copia

df

,titulo,operacion,direccion,Precio,Ambientes,Baños,Total,Cubierta,Descubierta,Balcón,Antigüedad,Disposición,https
0,Departamento en Venta en 11 de Septiembre 1700...,¡Departamento en Belgrano en Venta! Conocé est...,11 de Septiembre 1700,1700000,5,3,588.0,355.0,233.0,0,40,0,https://mudafy.com.ar/departamento/11-de-septi...
1,"Departamento en Venta en 11 de septiembre 782,...",¡Departamento en Belgrano en Venta! Conocé est...,11 de septiembre 782,1080000,6,5,510.0,432.0,78.0,0,0,0,https://mudafy.com.ar/departamento/11-de-septi...
2,Departamento en Venta en 11 De Septiembre De 1...,¡Departamento en Palermo en Venta! Conocé esta...,11 De Septiembre De 1888 800,140000,2,1,35.0,33.0,2.0,0,24,0,https://mudafy.com.ar/departamento/11-de-septi...
3,Departamento en Venta en 2 amb. a estrenar en ...,¡Departamento en Belgrano R en Venta! Conocé e...,2 amb. a estrenar en Belgrano R - Seg 0,188000,2,1,52.0,49.0,3.0,0,0,0,https://mudafy.com.ar/departamento/2-amb-a-est...
4,Departamento en Venta en 2 amb de Toilette en ...,¡Departamento en Palermo en Venta! Conocé esta...,2 amb de Toilette en La Imprenta,225000,2,1,48.0,48.0,0.0,0,0,0,https://mudafy.com.ar/departamento/2-amb-de-to...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,"Departamento en Venta en Zapata 200, Belgrano",¡Departamento en Belgrano en Venta! Conocé est...,Zapata 200,275200,3,1,76.0,65.0,11.0,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...
1615,"Departamento en Venta en Zapata 200, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapata 200,271000,3,1,89.0,65.0,24.0,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...
1616,"Departamento en Venta en Zapata 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,Zapata 300,89900,1,1,21.0,21.0,0.0,0,1,0,https://mudafy.com.ar/departamento/zapata-300-...
1617,"Departamento en Venta en ZAPATA al 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,ZAPATA al 300,120000,2,1,55.0,47.0,8.0,0,0,0,https://mudafy.com.ar/departamento/zapata-al-3...
1618,"Departamento en Venta en Zapiola 1000, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapiola 1000,85000,2,1,40.0,40.0,0.0,0,50,0,https://mudafy.com.ar/departamento/zapiola-100...

In [120]:
def categorizar_antiguedad(antiguedad_str):
    try:
        # Extraer solo los números (incluyendo decimales)
        antiguedad_num = float(re.sub(r'[^\d.]', '', str(antiguedad_str)))
    except:
        return None
    
    # Redondear al entero más cercano
    antiguedad = int(round(antiguedad_num))
    
    if antiguedad == 0:
        return 0  # A estrenar
    elif antiguedad <= 5:
        return 1  # Muy nueva
    elif antiguedad <= 10:
        return 2  # Nueva
    elif antiguedad <= 20:
        return 3  # Relativamente nueva
    elif antiguedad <= 40:
        return 4  # Media
    else:
        return 5  # Antigua

# Aplicar la función
df["Antigüedad"] = df["Antigüedad"].apply(categorizar_antiguedad)

In [121]:
df["Categoria_antigüedad"] = df["Antigüedad"].apply(categorizar_antiguedad)

In [122]:
df

,titulo,operacion,direccion,Precio,Ambientes,Baños,Total,Cubierta,Descubierta,Balcón,Antigüedad,Disposición,https,Categoria_antigüedad
0,Departamento en Venta en 11 de Septiembre 1700...,¡Departamento en Belgrano en Venta! Conocé est...,11 de Septiembre 1700,1700000,5,3,588.0,355.0,233.0,0,4,0,https://mudafy.com.ar/departamento/11-de-septi...,1
1,"Departamento en Venta en 11 de septiembre 782,...",¡Departamento en Belgrano en Venta! Conocé est...,11 de septiembre 782,1080000,6,5,510.0,432.0,78.0,0,0,0,https://mudafy.com.ar/departamento/11-de-septi...,0
2,Departamento en Venta en 11 De Septiembre De 1...,¡Departamento en Palermo en Venta! Conocé esta...,11 De Septiembre De 1888 800,140000,2,1,35.0,33.0,2.0,0,4,0,https://mudafy.com.ar/departamento/11-de-septi...,1
3,Departamento en Venta en 2 amb. a estrenar en ...,¡Departamento en Belgrano R en Venta! Conocé e...,2 amb. a estrenar en Belgrano R - Seg 0,188000,2,1,52.0,49.0,3.0,0,0,0,https://mudafy.com.ar/departamento/2-amb-a-est...,0
4,Departamento en Venta en 2 amb de Toilette en ...,¡Departamento en Palermo en Venta! Conocé esta...,2 amb de Toilette en La Imprenta,225000,2,1,48.0,48.0,0.0,0,0,0,https://mudafy.com.ar/departamento/2-amb-de-to...,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,"Departamento en Venta en Zapata 200, Belgrano",¡Departamento en Belgrano en Venta! Conocé est...,Zapata 200,275200,3,1,76.0,65.0,11.0,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...,0
1615,"Departamento en Venta en Zapata 200, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapata 200,271000,3,1,89.0,65.0,24.0,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...,0
1616,"Departamento en Venta en Zapata 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,Zapata 300,89900,1,1,21.0,21.0,0.0,0,1,0,https://mudafy.com.ar/departamento/zapata-300-...,1
1617,"Departamento en Venta en ZAPATA al 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,ZAPATA al 300,120000,2,1,55.0,47.0,8.0,0,0,0,https://mudafy.com.ar/departamento/zapata-al-3...,0
1618,"Departamento en Venta en Zapiola 1000, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapiola 1000,85000,2,1,40.0,40.0,0.0,0,5,0,https://mudafy.com.ar/departamento/zapiola-100...,1

In [123]:
df['Antigüedad']

0       4
1       0
2       4
3       0
4       0
       ..
1614    0
1615    0
1616    1
1617    0
1618    5
Name: Antigüedad, Length: 1619, dtype: int64

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1619 entries, 0 to 1618
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   titulo                1619 non-null   object
 1   operacion             1619 non-null   object
 2   direccion             1619 non-null   object
 3   Precio                1619 non-null   int64
 4   Ambientes             1619 non-null   int64
 5   Baños                 1619 non-null   int64
 6   Total                 1619 non-null   float64
 7   Cubierta              1619 non-null   float64
 8   Descubierta           1619 non-null   float64
 9   Balcón                1619 non-null   object
 10  Antigüedad            1619 non-null   int64
 11  Disposición           1619 non-null   object
 12  https                 1619 non-null   object
 13  Categoria_antigüedad  1619 non-null   int64
dtypes: float64(3), int64(5), object(6)
memory usage: 177.2+ KB

In [133]:
nan_precio = df["Precio"].isna().sum()
print(f"Número de propiedades sin precio: {nan_precio}")

nan_Total = df["Total"].isna().sum()
print(f"Número de propiedades sin Total: {nan_Total}")

Número de propiedades sin precio: 0
Número de propiedades sin Total: 0

In [63]:
import numpy as np

# Opción A: Reemplazar TODOS los tipos de ceros por NaN
df['Total'] = df['Total'].replace([0, '0', '0.0', '0,0', 0.0, '0 m²'], np.nan)

# Opción B: Eliminar filas donde Total es cualquier tipo de cero
df = df[~df['Total'].isin([0, '0', '0.0', '0,0', 0.0, '0 m²'])]
df = df.reset_index(drop=True)

# Opción C: Convertir a numérico primero (si hay mezcla de tipos)
df['Total'] = pd.to_numeric(df['Total'].astype(str).str.replace(' m²', '').str.replace(',', '.'), errors='coerce')
df['Total'] = df['Total'].replace(0, np.nan)

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1619 entries, 0 to 1618
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Titulo                1619 non-null   object
 1   Operacion             1619 non-null   object
 2   Direccion             1619 non-null   object
 3   Precio                1619 non-null   int64
 4   Ambientes             1619 non-null   int64
 5   Baños                 1619 non-null   int64
 6   Total                 1619 non-null   float64
 7   Cubierta              1619 non-null   float64
 8   Descubierta           1619 non-null   float64
 9   Balcón                1619 non-null   object
 10  Antigüedad            1619 non-null   int64
 11  Disposición           1619 non-null   object
 12  Inmobiliaria          1619 non-null   object
 13  Categoria_antigüedad  1619 non-null   int64
 14  Barrio                1619 non-null   object
dtypes: float64(3), int64(5), object(7)
memory usage: 189.9+ KB

In [135]:
print("\nDespués de la limpieza:")
print("Valores únicos en 'Total':", df['Total'].unique())
print("Cantidad de NaN:", df['Total'].isna().sum())
print("\nPrimeras filas:")
print(df[['Titulo', 'Total']].head())

Después de la limpieza:
Valores únicos en 'Total': [ 588.  510.   35.   52.   48.  101.  280.  103.  163.   36.   40.  155.
   28.   58.   33.   90.   20.   25.   97.   23.   37.  152.   31.   43.
  113.   34.   42.  150.   77.  207.  142.  138.  164.  100.   45.   57.
  104.   79.   49.   41.   66.   96.   85.   50.   54.   29.  105.   95.
   64.  128.   56.  175.   76.   55.   88.   60.  110.  210.   46.  114.
  167.   51.   70.  123.   86.   53.   32.   80.   69.   27.    0.   44.
  235.  195.   62.  180.   59.   68.   67.   30.  117.  378.  120.  126.
  245.  130.   72.  107.   47.  153.   81.   61.  127.  165.  102.  131.
  118.   75.  124.  134.   83.  255.   39.   26.  171.  240.   73.   91.
  184.  166.  112.  217.  355.  174.  222.  192.  108.  204.  111.   98.
  145.  143.   65.  141.  106.   99.   74.  136.  250.  148.  205.  315.
  330.  121.  151.  420.  125.   94.  119.  170.  212.  178.  109.   38.
  157.   84.  137.  196.  154.  135.  115.   82.  158.  536.  450.  133.
 9465.  296.  305.   78.   63.  238.  199.  132.  146.  186.  177.   71.
  168.  282.  129.  395.  248.  489.  400.  160.  185.  182.   93.  147.
   87.   89.  159.  191.  139.  288.  243.  234.  162.  269.  276.  200.
  190.  231.  220.  211.  176.   22.  275.  252.  218.  140.   24.  430.
  183.  202.   17.  116.  357.  226.  270.  213.  181.  173.  249.   92.
  490.  385.  285.  500.  347.  172.   21.]
Cantidad de NaN: 0

Primeras filas:
                                              Titulo  Total
0  Departamento en Venta en 11 de Septiembre 1700...  588.0
1  Departamento en Venta en 11 de septiembre 782,...  510.0
2  Departamento en Venta en 11 De Septiembre De 1...   35.0
3  Departamento en Venta en 2 amb. a estrenar en ...   52.0
4  Departamento en Venta en 2 amb de Toilette en ...   48.0

In [137]:
df['Publicada_en']="Mudafy"

In [138]:
df

,Titulo,Operacion,Direccion,Precio,Ambientes,Baños,Total,Cubierta,Descubierta,Balcón,Antigüedad,Disposición,Inmobiliaria,Categoria_antigüedad,Barrio,Publicada_en
0,Departamento en Venta en 11 de Septiembre 1700...,¡Departamento en Belgrano en Venta! Conocé est...,11 de Septiembre 1700,1700000,5,3,588.0,355.0,233.0,0,4,0,https://mudafy.com.ar/departamento/11-de-septi...,1,Palermo,Mudafy
1,"Departamento en Venta en 11 de septiembre 782,...",¡Departamento en Belgrano en Venta! Conocé est...,11 de septiembre 782,1080000,6,5,510.0,432.0,78.0,0,0,0,https://mudafy.com.ar/departamento/11-de-septi...,0,Palermo,Mudafy
2,Departamento en Venta en 11 De Septiembre De 1...,¡Departamento en Palermo en Venta! Conocé esta...,11 De Septiembre De 1888 800,140000,2,1,35.0,33.0,2.0,0,4,0,https://mudafy.com.ar/departamento/11-de-septi...,1,Palermo,Mudafy
3,Departamento en Venta en 2 amb. a estrenar en ...,¡Departamento en Belgrano R en Venta! Conocé e...,2 amb. a estrenar en Belgrano R - Seg 0,188000,2,1,52.0,49.0,3.0,0,0,0,https://mudafy.com.ar/departamento/2-amb-a-est...,0,Palermo,Mudafy
4,Departamento en Venta en 2 amb de Toilette en ...,¡Departamento en Palermo en Venta! Conocé esta...,2 amb de Toilette en La Imprenta,225000,2,1,48.0,48.0,0.0,0,0,0,https://mudafy.com.ar/departamento/2-amb-de-to...,0,Palermo,Mudafy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,"Departamento en Venta en Zapata 200, Belgrano",¡Departamento en Belgrano en Venta! Conocé est...,Zapata 200,275200,3,1,76.0,65.0,11.0,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...,0,Palermo,Mudafy
1615,"Departamento en Venta en Zapata 200, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapata 200,271000,3,1,89.0,65.0,24.0,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...,0,Palermo,Mudafy
1616,"Departamento en Venta en Zapata 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,Zapata 300,89900,1,1,21.0,21.0,0.0,0,1,0,https://mudafy.com.ar/departamento/zapata-300-...,1,Palermo,Mudafy
1617,"Departamento en Venta en ZAPATA al 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,ZAPATA al 300,120000,2,1,55.0,47.0,8.0,0,0,0,https://mudafy.com.ar/departamento/zapata-al-3...,0,Palermo,Mudafy
1618,"Departamento en Venta en Zapiola 1000, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapiola 1000,85000,2,1,40.0,40.0,0.0,0,5,0,https://mudafy.com.ar/departamento/zapiola-100...,1,Palermo,Mudafy

In [139]:
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from functools import lru_cache
from tqdm import tqdm
import logging
logging.getLogger("geopy").setLevel(logging.ERROR)

def geocodificar_direcciones(df, columna_direccion="Direccion", columna_barrio="Barrio"):
    geolocator = Nominatim(user_agent="cabaprop_tasador")
    rate_limited_geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

    @lru_cache(maxsize=10000)
    def geocode_cached(direccion):
        try:
            return rate_limited_geocode(direccion)
        except Exception as e:
            print(f"Error al geocodificar '{direccion}': {e}")
            return None

    latitudes = []
    longitudes = []

    tqdm.pandas(desc="Geocodificando")

    for direccion_completa in tqdm(
        df.apply(lambda row: f"{row[columna_direccion]}, {row[columna_barrio]}, CABA, Argentina", axis=1),
        total=len(df),
        desc="Procesando direcciones"
    ):
        location = geocode_cached(direccion_completa)
        if location:
            latitudes.append(location.latitude)
            longitudes.append(location.longitude)
        else:
            latitudes.append(None)
            longitudes.append(None)

    df["lat"] = latitudes
    df["lon"] = longitudes

    return df

In [140]:
geocodificar_direcciones(df)

Procesando direcciones: 100%|██████████| 1619/1619 [20:51<00:00,  1.29it/s]

,Titulo,Operacion,Direccion,Precio,Ambientes,Baños,Total,Cubierta,Descubierta,Balcón,Antigüedad,Disposición,Inmobiliaria,Categoria_antigüedad,Barrio,Publicada_en,lat,lon
0,Departamento en Venta en 11 de Septiembre 1700...,¡Departamento en Belgrano en Venta! Conocé est...,11 de Septiembre 1700,1700000,5,3,588.0,355.0,233.0,0,4,0,https://mudafy.com.ar/departamento/11-de-septi...,1,Palermo,Mudafy,-34.573968,-58.433321
1,"Departamento en Venta en 11 de septiembre 782,...",¡Departamento en Belgrano en Venta! Conocé est...,11 de septiembre 782,1080000,6,5,510.0,432.0,78.0,0,0,0,https://mudafy.com.ar/departamento/11-de-septi...,0,Palermo,Mudafy,-34.573968,-58.433321
2,Departamento en Venta en 11 De Septiembre De 1...,¡Departamento en Palermo en Venta! Conocé esta...,11 De Septiembre De 1888 800,140000,2,1,35.0,33.0,2.0,0,4,0,https://mudafy.com.ar/departamento/11-de-septi...,1,Palermo,Mudafy,-34.570252,-58.440162
3,Departamento en Venta en 2 amb. a estrenar en ...,¡Departamento en Belgrano R en Venta! Conocé e...,2 amb. a estrenar en Belgrano R - Seg 0,188000,2,1,52.0,49.0,3.0,0,0,0,https://mudafy.com.ar/departamento/2-amb-a-est...,0,Palermo,Mudafy,NaN,NaN
4,Departamento en Venta en 2 amb de Toilette en ...,¡Departamento en Palermo en Venta! Conocé esta...,2 amb de Toilette en La Imprenta,225000,2,1,48.0,48.0,0.0,0,0,0,https://mudafy.com.ar/departamento/2-amb-de-to...,0,Palermo,Mudafy,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,"Departamento en Venta en Zapata 200, Belgrano",¡Departamento en Belgrano en Venta! Conocé est...,Zapata 200,275200,3,1,76.0,65.0,11.0,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...,0,Palermo,Mudafy,-34.574699,-58.439537
1615,"Departamento en Venta en Zapata 200, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapata 200,271000,3,1,89.0,65.0,24.0,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...,0,Palermo,Mudafy,-34.574699,-58.439537
1616,"Departamento en Venta en Zapata 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,Zapata 300,89900,1,1,21.0,21.0,0.0,0,1,0,https://mudafy.com.ar/departamento/zapata-300-...,1,Palermo,Mudafy,-34.573875,-58.440637
1617,"Departamento en Venta en ZAPATA al 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,ZAPATA al 300,120000,2,1,55.0,47.0,8.0,0,0,0,https://mudafy.com.ar/departamento/zapata-al-3...,0,Palermo,Mudafy,-34.575914,-58.437564
1618,"Departamento en Venta en Zapiola 1000, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapiola 1000,85000,2,1,40.0,40.0,0.0,0,5,0,https://mudafy.com.ar/departamento/zapiola-100...,1,Palermo,Mudafy,-34.578843,-58.443040

In [141]:
df

,Titulo,Operacion,Direccion,Precio,Ambientes,Baños,Total,Cubierta,Descubierta,Balcón,Antigüedad,Disposición,Inmobiliaria,Categoria_antigüedad,Barrio,Publicada_en,lat,lon
0,Departamento en Venta en 11 de Septiembre 1700...,¡Departamento en Belgrano en Venta! Conocé est...,11 de Septiembre 1700,1700000,5,3,588.0,355.0,233.0,0,4,0,https://mudafy.com.ar/departamento/11-de-septi...,1,Palermo,Mudafy,-34.573968,-58.433321
1,"Departamento en Venta en 11 de septiembre 782,...",¡Departamento en Belgrano en Venta! Conocé est...,11 de septiembre 782,1080000,6,5,510.0,432.0,78.0,0,0,0,https://mudafy.com.ar/departamento/11-de-septi...,0,Palermo,Mudafy,-34.573968,-58.433321
2,Departamento en Venta en 11 De Septiembre De 1...,¡Departamento en Palermo en Venta! Conocé esta...,11 De Septiembre De 1888 800,140000,2,1,35.0,33.0,2.0,0,4,0,https://mudafy.com.ar/departamento/11-de-septi...,1,Palermo,Mudafy,-34.570252,-58.440162
3,Departamento en Venta en 2 amb. a estrenar en ...,¡Departamento en Belgrano R en Venta! Conocé e...,2 amb. a estrenar en Belgrano R - Seg 0,188000,2,1,52.0,49.0,3.0,0,0,0,https://mudafy.com.ar/departamento/2-amb-a-est...,0,Palermo,Mudafy,NaN,NaN
4,Departamento en Venta en 2 amb de Toilette en ...,¡Departamento en Palermo en Venta! Conocé esta...,2 amb de Toilette en La Imprenta,225000,2,1,48.0,48.0,0.0,0,0,0,https://mudafy.com.ar/departamento/2-amb-de-to...,0,Palermo,Mudafy,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,"Departamento en Venta en Zapata 200, Belgrano",¡Departamento en Belgrano en Venta! Conocé est...,Zapata 200,275200,3,1,76.0,65.0,11.0,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...,0,Palermo,Mudafy,-34.574699,-58.439537
1615,"Departamento en Venta en Zapata 200, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapata 200,271000,3,1,89.0,65.0,24.0,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...,0,Palermo,Mudafy,-34.574699,-58.439537
1616,"Departamento en Venta en Zapata 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,Zapata 300,89900,1,1,21.0,21.0,0.0,0,1,0,https://mudafy.com.ar/departamento/zapata-300-...,1,Palermo,Mudafy,-34.573875,-58.440637
1617,"Departamento en Venta en ZAPATA al 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,ZAPATA al 300,120000,2,1,55.0,47.0,8.0,0,0,0,https://mudafy.com.ar/departamento/zapata-al-3...,0,Palermo,Mudafy,-34.575914,-58.437564
1618,"Departamento en Venta en Zapiola 1000, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapiola 1000,85000,2,1,40.0,40.0,0.0,0,5,0,https://mudafy.com.ar/departamento/zapiola-100...,1,Palermo,Mudafy,-34.578843,-58.443040

In [143]:
# Eliminar filas donde Precio, lon o lat sean NaN
df_clean = df.dropna(subset=['Precio', 'Total', 'lon', 'lat'], how='any')

In [142]:
print("Valores únicos en 'Total' después de la limpieza:")
print(df['Total'].value_counts(dropna=False))

print("\nCantidad de ceros restantes:", (df['Total'] == 0).sum())

Valores únicos en 'Total' después de la limpieza:
Total
37.0      46
40.0      45
0.0       41
31.0      39
36.0      39
          ..
305.0      1
296.0      1
9465.0     1
450.0      1
21.0       1
Name: count, Length: 223, dtype: int64

Cantidad de ceros restantes: 41

In [144]:
df

,Titulo,Operacion,Direccion,Precio,Ambientes,Baños,Total,Cubierta,Descubierta,Balcón,Antigüedad,Disposición,Inmobiliaria,Categoria_antigüedad,Barrio,Publicada_en,lat,lon
0,Departamento en Venta en 11 de Septiembre 1700...,¡Departamento en Belgrano en Venta! Conocé est...,11 de Septiembre 1700,1700000,5,3,588.0,355.0,233.0,0,4,0,https://mudafy.com.ar/departamento/11-de-septi...,1,Palermo,Mudafy,-34.573968,-58.433321
1,"Departamento en Venta en 11 de septiembre 782,...",¡Departamento en Belgrano en Venta! Conocé est...,11 de septiembre 782,1080000,6,5,510.0,432.0,78.0,0,0,0,https://mudafy.com.ar/departamento/11-de-septi...,0,Palermo,Mudafy,-34.573968,-58.433321
2,Departamento en Venta en 11 De Septiembre De 1...,¡Departamento en Palermo en Venta! Conocé esta...,11 De Septiembre De 1888 800,140000,2,1,35.0,33.0,2.0,0,4,0,https://mudafy.com.ar/departamento/11-de-septi...,1,Palermo,Mudafy,-34.570252,-58.440162
3,Departamento en Venta en 2 amb. a estrenar en ...,¡Departamento en Belgrano R en Venta! Conocé e...,2 amb. a estrenar en Belgrano R - Seg 0,188000,2,1,52.0,49.0,3.0,0,0,0,https://mudafy.com.ar/departamento/2-amb-a-est...,0,Palermo,Mudafy,NaN,NaN
4,Departamento en Venta en 2 amb de Toilette en ...,¡Departamento en Palermo en Venta! Conocé esta...,2 amb de Toilette en La Imprenta,225000,2,1,48.0,48.0,0.0,0,0,0,https://mudafy.com.ar/departamento/2-amb-de-to...,0,Palermo,Mudafy,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,"Departamento en Venta en Zapata 200, Belgrano",¡Departamento en Belgrano en Venta! Conocé est...,Zapata 200,275200,3,1,76.0,65.0,11.0,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...,0,Palermo,Mudafy,-34.574699,-58.439537
1615,"Departamento en Venta en Zapata 200, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapata 200,271000,3,1,89.0,65.0,24.0,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...,0,Palermo,Mudafy,-34.574699,-58.439537
1616,"Departamento en Venta en Zapata 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,Zapata 300,89900,1,1,21.0,21.0,0.0,0,1,0,https://mudafy.com.ar/departamento/zapata-300-...,1,Palermo,Mudafy,-34.573875,-58.440637
1617,"Departamento en Venta en ZAPATA al 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,ZAPATA al 300,120000,2,1,55.0,47.0,8.0,0,0,0,https://mudafy.com.ar/departamento/zapata-al-3...,0,Palermo,Mudafy,-34.575914,-58.437564
1618,"Departamento en Venta en Zapiola 1000, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapiola 1000,85000,2,1,40.0,40.0,0.0,0,5,0,https://mudafy.com.ar/departamento/zapiola-100...,1,Palermo,Mudafy,-34.578843,-58.443040

In [145]:
df_clean

,Titulo,Operacion,Direccion,Precio,Ambientes,Baños,Total,Cubierta,Descubierta,Balcón,Antigüedad,Disposición,Inmobiliaria,Categoria_antigüedad,Barrio,Publicada_en,lat,lon
0,Departamento en Venta en 11 de Septiembre 1700...,¡Departamento en Belgrano en Venta! Conocé est...,11 de Septiembre 1700,1700000,5,3,588.0,355.0,233.0,0,4,0,https://mudafy.com.ar/departamento/11-de-septi...,1,Palermo,Mudafy,-34.573968,-58.433321
1,"Departamento en Venta en 11 de septiembre 782,...",¡Departamento en Belgrano en Venta! Conocé est...,11 de septiembre 782,1080000,6,5,510.0,432.0,78.0,0,0,0,https://mudafy.com.ar/departamento/11-de-septi...,0,Palermo,Mudafy,-34.573968,-58.433321
2,Departamento en Venta en 11 De Septiembre De 1...,¡Departamento en Palermo en Venta! Conocé esta...,11 De Septiembre De 1888 800,140000,2,1,35.0,33.0,2.0,0,4,0,https://mudafy.com.ar/departamento/11-de-septi...,1,Palermo,Mudafy,-34.570252,-58.440162
6,"Departamento en Venta en 3 de Febrero 1400, Be...",¡Departamento en Belgrano en Venta! Conocé est...,3 de Febrero 1400,1030000,5,3,280.0,239.0,41.0,0,4,0,https://mudafy.com.ar/departamento/3-de-febrer...,1,Palermo,Mudafy,-34.565990,-58.446425
7,"Departamento en Venta en 3 DE FEBRERO al 2100,...",¡Departamento en Belgrano en Venta! Conocé est...,3 DE FEBRERO al 2100,198000,3,2,103.0,100.0,3.0,0,0,0,https://mudafy.com.ar/departamento/3-de-febrer...,0,Palermo,Mudafy,-34.571884,-58.425189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,"Departamento en Venta en Zapata 200, Belgrano",¡Departamento en Belgrano en Venta! Conocé est...,Zapata 200,275200,3,1,76.0,65.0,11.0,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...,0,Palermo,Mudafy,-34.574699,-58.439537
1615,"Departamento en Venta en Zapata 200, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapata 200,271000,3,1,89.0,65.0,24.0,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...,0,Palermo,Mudafy,-34.574699,-58.439537
1616,"Departamento en Venta en Zapata 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,Zapata 300,89900,1,1,21.0,21.0,0.0,0,1,0,https://mudafy.com.ar/departamento/zapata-300-...,1,Palermo,Mudafy,-34.573875,-58.440637
1617,"Departamento en Venta en ZAPATA al 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,ZAPATA al 300,120000,2,1,55.0,47.0,8.0,0,0,0,https://mudafy.com.ar/departamento/zapata-al-3...,0,Palermo,Mudafy,-34.575914,-58.437564
1618,"Departamento en Venta en Zapiola 1000, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapiola 1000,85000,2,1,40.0,40.0,0.0,0,5,0,https://mudafy.com.ar/departamento/zapiola-100...,1,Palermo,Mudafy,-34.578843,-58.443040

In [149]:
conteo_ceros = df_clean['Total'].value_counts().get(0, 0)
print(f"Cantidad de registros con total = 0: {conteo_ceros}")

Cantidad de registros con total = 0: 0

In [148]:
import numpy as np

# Opción A: Reemplazar TODOS los tipos de ceros por NaN
df_clean['Total'] = df_clean['Total'].replace([0, '0', '0.0', '0,0', 0.0, '0 m²'], np.nan)

# Opción B: Eliminar filas donde Total es cualquier tipo de cero
df_clean = df_clean[~df_clean['Total'].isin([0, '0', '0.0', '0,0', 0.0, '0 m²'])]
df_clean = df_clean.reset_index(drop=True)

# Opción C: Convertir a numérico primero (si hay mezcla de tipos)
df_clean['Total'] = pd.to_numeric(df_clean['Total'].astype(str).str.replace(' m²', '').str.replace(',', '.'), errors='coerce')
df_clean['Total'] = df_clean['Total'].replace(0, np.nan)

In [151]:
df_clean

,Titulo,Operacion,Direccion,Precio,Ambientes,Baños,Total,Cubierta,Descubierta,Balcón,Antigüedad,Disposición,Inmobiliaria,Categoria_antigüedad,Barrio,Publicada_en,lat,lon
0,Departamento en Venta en 11 de Septiembre 1700...,¡Departamento en Belgrano en Venta! Conocé est...,11 de Septiembre 1700,1700000,5,3,588.0,355.0,233.0,0,4,0,https://mudafy.com.ar/departamento/11-de-septi...,1,Palermo,Mudafy,-34.573968,-58.433321
1,"Departamento en Venta en 11 de septiembre 782,...",¡Departamento en Belgrano en Venta! Conocé est...,11 de septiembre 782,1080000,6,5,510.0,432.0,78.0,0,0,0,https://mudafy.com.ar/departamento/11-de-septi...,0,Palermo,Mudafy,-34.573968,-58.433321
2,Departamento en Venta en 11 De Septiembre De 1...,¡Departamento en Palermo en Venta! Conocé esta...,11 De Septiembre De 1888 800,140000,2,1,35.0,33.0,2.0,0,4,0,https://mudafy.com.ar/departamento/11-de-septi...,1,Palermo,Mudafy,-34.570252,-58.440162
3,"Departamento en Venta en 3 de Febrero 1400, Be...",¡Departamento en Belgrano en Venta! Conocé est...,3 de Febrero 1400,1030000,5,3,280.0,239.0,41.0,0,4,0,https://mudafy.com.ar/departamento/3-de-febrer...,1,Palermo,Mudafy,-34.565990,-58.446425
4,"Departamento en Venta en 3 DE FEBRERO al 2100,...",¡Departamento en Belgrano en Venta! Conocé est...,3 DE FEBRERO al 2100,198000,3,2,103.0,100.0,3.0,0,0,0,https://mudafy.com.ar/departamento/3-de-febrer...,0,Palermo,Mudafy,-34.571884,-58.425189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1147,"Departamento en Venta en Zapata 200, Belgrano",¡Departamento en Belgrano en Venta! Conocé est...,Zapata 200,275200,3,1,76.0,65.0,11.0,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...,0,Palermo,Mudafy,-34.574699,-58.439537
1148,"Departamento en Venta en Zapata 200, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapata 200,271000,3,1,89.0,65.0,24.0,0,0,0,https://mudafy.com.ar/departamento/zapata-200-...,0,Palermo,Mudafy,-34.574699,-58.439537
1149,"Departamento en Venta en Zapata 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,Zapata 300,89900,1,1,21.0,21.0,0.0,0,1,0,https://mudafy.com.ar/departamento/zapata-300-...,1,Palermo,Mudafy,-34.573875,-58.440637
1150,"Departamento en Venta en ZAPATA al 300, Palermo",¡Departamento en Palermo en Venta! Conocé esta...,ZAPATA al 300,120000,2,1,55.0,47.0,8.0,0,0,0,https://mudafy.com.ar/departamento/zapata-al-3...,0,Palermo,Mudafy,-34.575914,-58.437564
1151,"Departamento en Venta en Zapiola 1000, Colegiales",¡Departamento en Colegiales en Venta! Conocé e...,Zapiola 1000,85000,2,1,40.0,40.0,0.0,0,5,0,https://mudafy.com.ar/departamento/zapiola-100...,1,Palermo,Mudafy,-34.578843,-58.443040

In [150]:
df_clean.to_json("datos_geolocalizados_mudafy.json", orient="records", force_ascii=False)